<section>
    <div class="infor-login-container">
        <div class="infor-login">
            <div class="title">
                Thông tin đăng nhập
            </div>
            <div class="infor-login-left">
                <div class='item-left'>
                    <p>Tài khoản</p>
                    <p>Mật khẩu</p>
                </div>
                <div class='item-right'>
                    <p>{{taiKhoan}}</p>
                    <p>**********</p>
                </div>
            </div>
            <div class="infor-login-right">
                <p *ngIf='!isShow' (click)='onShowEditInfor()' class="edit-password"><i class="far fa-edit"></i> Đổi mật khẩu</p>
            </div>
        </div>
        <div class="edit-infor-login">
            <div class="title">
                Đổi mật khẩu
            </div>
            <div class="edit-infor">
                <form [formGroup]='form' autocomplete="on">
                    <div class="infor-item form-group" style="padding-top: 5px;">
                        <p>Mật khẩu cũ:</p>
                        <input type="{{showPassword1}}" placeholder="Nhập mật khẩu cũ" class="form-control" formControlName="oldPassword">
                        <p *ngIf="showPassword1=='text'" (click)="onShowPassword(0)"><i class="fas fa-eye-slash"></i></p>
                        <p *ngIf="showPassword1=='password'" (click)="onShowPassword(0)"><i class="fas fa-eye"></i></p>
                    </div>
                    <div class="infor-item">
                        <p for="">Mật khẩu mới</p>
                        <input type="{{showPassword2}}" placeholder="Nhập mật khẩu mới" class="form-control" formControlName="newPassword">
                        <p *ngIf="showPassword2=='text'" (click)="onShowPassword(1)"><i class="fas fa-eye-slash"></i></p>
                        <p *ngIf="showPassword2=='password'" (click)="onShowPassword(1)"><i class="fas fa-eye"></i></p>
                    </div>
                    <div class="infor-item">
                        <p>Nhập lại mật khẩu mới</p>
                        <input type="{{showPassword3}}" placeholder="Nhập lại mật khẩu mới" class="form-control" formControlName="confirmPassword">
                        <p *ngIf="showPassword3=='text'" (click)="onShowPassword(2)"><i class="fas fa-eye-slash"></i></p>
                        <p *ngIf="showPassword3=='password'" (click)="onShowPassword(2)"><i class="fas fa-eye"></i></p>
                    </div>
                    <div class="infor-item">
                        <p (click)='onSubmit()'><button class="btn-infor-item">Xác nhận</button></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
