<app-header index=-1></app-header>
<section *ngIf=!isPay>
    <div class="route-container">
        <ul class="progressbar">
            <li class="active"></li>
            <li class="active"></li>
            <li class="active"></li>
            <li class="active-next" (click)="onPay()">Thanh toán</li>
        </ul>
        <div class="clear" style="height: 50px;">
        </div>
        <div *ngIf=!isMultiple class="pay-infor">
            <div class="title">
                <h2>Thông Tin Mua Vé</h2>
            </div>
            <div class="customer">
                <h3>Thông tin khác hàng</h3>
                <div class="customer-infor">
                    <div class="customer-name">
                        Họ và tên: <label for="">{{infor.username}}</label>
                    </div>
                    <div class="customer-phone">
                        Số điện thoại: <label for="">{{infor.phone}}</label>
                    </div>
                    <div class="customer-email">
                        Email: <label for="">{{infor.email}}</label>
                    </div>
                </div>
                <div class="customer-infor">
                    <div class="customer-name">
                        Nơi ở: <label for="">{{infor.district}} - {{infor.city}}</label>
                    </div>
                </div>
            </div>
            <div class="customer">
                <h3>Thông tin vé đi</h3>
                <div class="customer-infor">
                    <div class="customer-name">
                        Tuyến xe: <label for="">{{infor_router.departure.toStationName}} =>
                            {{infor_router.destination.toStationName}}</label>
                    </div>
                    <div class="customer-phone">
                        Số lượng ghế: <label for="">{{numberGo}}</label>
                    </div>
                    <div class="customer-email n_seats">
                        Số ghế: <label for="" style="color: #00613D;"
                            *ngFor="let item of infor_seat_go">{{item}}</label>
                    </div>
                </div>
                <div class="customer-infor">
                    <div class="customer-name">
                        Thời gian: <label for="" style="color: #00613D;">{{oneWay.gio_chay}}:00h -
                            {{oneWay.date}}</label>
                    </div>
                    <div class="customer-phone">
                        Điểm lên xe: <label for="">Bến xe {{infor_router.departure.toStationName}}</label>
                    </div>
                    <div class="customer-email">
                        Tổng tiền : <label for="" style="color: #00613D;">{{oneWay.gia_ve}} ₫</label>
                    </div>
                </div>
                <div class="customer-infor">
                    <div class="customer-name">
                        Nơi xuống: <label for="" style="color: #00613D;">{{infor.point}}</label>
                    </div>
                </div>
            </div>
            <div class="customer">
                <h3>Thông tin vé về</h3>
                <div class="customer-infor">
                    <div class="customer-name">
                        Tuyến xe: <label for=""> {{infor_router.destination.toStationName}} =>
                            {{infor_router.departure.toStationName}}</label>
                    </div>
                    <div class="customer-phone">
                        Số lượng ghế: <label for="">{{numberReturn}}</label>
                    </div>
                    <div class="customer-email n_seats">
                        Số ghế: <label for="" style="color: #00613D;"
                            *ngFor="let item of infor_seat_return">{{item}}</label>
                    </div>
                </div>
                <div class="customer-infor">
                    <div class="customer-name">
                        Thời gian: <label for="" style="color: #00613D;">{{twoWay.gio_chay}}:00h -
                            {{twoWay.date}}</label>
                    </div>
                    <div class="customer-phone">
                        Điểm lên xe: <label for="">Bến xe {{infor_router.destination.toStationName}}</label>
                    </div>
                    <div class="customer-email">
                        Tổng tiền : <label for="" style="color: #00613D;">{{twoWay.gia_ve}} ₫</label>
                    </div>
                </div>
                <div class="customer-infor">
                    <div class="customer-name">
                        Nơi xuống: <label for="" style="color: #00613D;">{{infor.pointReturn}}</label>
                    </div>
                </div>
            </div>
            <div class="total">
                <div style="float: right; padding-right: 20px;">
                    <p>Số lượng ghế : <span class="pay-total" style="text-transform: lowercase;">{{totalNumber}}
                            Ghế</span></p>
                    <p>Tổng Tiền : <span class="pay-total">{{totalMoney}} <sup data-v-6f125f51="">₫</sup></span></p>
                </div>
            </div>
        </div>
        <div *ngIf=isMultiple class="pay-infor">
            <!-- Vé đi -->
            <div class="title">
                <h2>Thông Tin Mua Vé Đi</h2>
            </div>
            <div class="customer">
                <h3>Thông tin khác hàng</h3>
                <div class="customer-infor">
                    <div class="customer-name">
                        Họ và tên: <label for="">{{infor.username}}</label>
                    </div>
                    <div class="customer-phone">
                        Số điện thoại: <label for="">{{infor.phone}}</label>
                    </div>
                    <div class="customer-email">
                        Email: <label for="">{{infor.email}}</label>
                    </div>
                </div>
                <div class="customer-infor">
                    <div class="customer-name">
                        Nơi ở: <label for="">{{infor.district}} - {{infor.city}}</label>
                    </div>
                </div>
            </div>
            <div class="customer">
                <h3>Thông tin vé đi {{infor.bed.name}}</h3>
                <div class="customer-infor">
                    <div class="customer-name">
                        Tuyến xe: <label for="">{{infor_router.departure.toStationName}} =>
                            {{infor_router.destination.toStationName}}</label>
                    </div>
                    <div class="customer-phone">
                        Số lượng ghế: <label for="">1</label>
                    </div>
                    <div class="customer-email n_seats">
                        Số ghế: <label for="" style="color: #00613D;">{{infor.bed.name}}</label>
                    </div>
                </div>
                <div class="customer-infor">
                    <div class="customer-name">
                        Thời gian: <label for="" style="color: #00613D;">{{oneWay.gio_chay}}:00h -
                            {{oneWay.date}}</label>
                    </div>
                    <div class="customer-phone">
                        Điểm lên xe: <label for="">Bến xe {{infor.point}}</label>
                    </div>
                    <div class="customer-email">
                        Người nằm : <label for="" style="color: #00613D;">{{infor.username}}</label>
                    </div>
                </div>
                <div class="customer-infor">
                    <div class="customer-name">
                        Nơi xuống: <label for="" style="color: #00613D;">{{infor.point}}</label>
                    </div>
                </div>
            </div>
            <ng-container *ngFor="let item of listPersonGoWithBuyer">
                <div class="customer">
                    <h3>Thông tin vé đi {{item.bed.name}}</h3>
                    <div class="customer-infor">
                        <div class="customer-name">
                            Tuyến xe: <label for="">{{infor_router.departure.toStationName}} =>
                                {{infor_router.destination.toStationName}}</label>
                        </div>
                        <div class="customer-phone">
                            Số lượng ghế: <label for="">1</label>
                        </div>
                        <div class="customer-email n_seats">
                            Số ghế: <label for="" style="color: #00613D;">{{item.bed.name}}</label>
                        </div>
                    </div>
                    <div class="customer-infor">
                        <div class="customer-name">
                            Thời gian: <label for="" style="color: #00613D;">{{oneWay.gio_chay}}:00h -
                                {{oneWay.date}}</label>
                        </div>
                        <div class="customer-phone">
                            Điểm lên xe: <label for="">Bến xe {{infor_router.departure.toStationName}}</label>
                        </div>
                        <div class="customer-email">
                            Người nằm : <label for="" style="color: #00613D;">{{item.username}}</label>
                        </div>
                    </div>
                    <div class="customer-infor">
                        <div class="customer-name">
                            Nơi xuống: <label for="" style="color: #00613D;">{{item.point}}</label>
                        </div>
                    </div>
                    <div class="customer-infor">
                        <div class="customer-name">
                            Nơi ở: <label for="" style="color: #00613D;">{{item.address}}</label>
                        </div>
                    </div>
                </div>
            </ng-container>
            <!-- Vé về -->
            <div class="title">
                <h2>Thông Tin Mua Vé Về</h2>
            </div>
            <div class="customer">
                <h3>Thông tin khác hàng</h3>
                <div class="customer-infor">
                    <div class="customer-name">
                        Họ và tên: <label for="">{{inforReturn.username}}</label>
                    </div>
                    <div class="customer-phone">
                        Số điện thoại: <label for="">{{inforReturn.phone}}</label>
                    </div>
                    <div class="customer-email">
                        Email: <label for="">{{inforReturn.email}}</label>
                    </div>
                </div>
                <div class="customer-infor">
                    <div class="customer-name">
                        Nơi ở: <label for="">{{inforReturn.district}} - {{inforReturn.city}}</label>
                    </div>
                </div>
            </div>
            <div class="customer">
                <h3>Thông tin vé đi {{inforReturn.bed.name}}</h3>
                <div class="customer-infor">
                    <div class="customer-name">
                        Tuyến xe: <label for="">{{infor_router.destination.toStationName}} =>
                            {{infor_router.departure.toStationName}}</label>
                    </div>
                    <div class="customer-phone">
                        Số lượng ghế: <label for="">1</label>
                    </div>
                    <div class="customer-email n_seats">
                        Số ghế: <label for="" style="color: #00613D;">{{inforReturn.bed.name}}</label>
                    </div>
                </div>
                <div class="customer-infor">
                    <div class="customer-name">
                        Thời gian: <label for="" style="color: #00613D;">{{twoWay.gio_chay}}:00h -
                            {{twoWay.date}}</label>
                    </div>
                    <div class="customer-phone">
                        Điểm lên xe: <label for="">Bến xe {{infor_router.departure.toStationName}}</label>
                    </div>
                    <div class="customer-email">
                        Người nằm : <label for="" style="color: #00613D;">{{inforReturn.username}}</label>
                    </div>
                </div>
                <div class="customer-infor">
                    <div class="customer-name">
                        Nơi xuống: <label for="" style="color: #00613D;">{{inforReturn.point}}</label>
                    </div>
                </div>
            </div>
            <ng-container *ngFor="let item of listPersonGoWithBuyerReturn">
                <div class="customer">
                    <h3>Thông tin vé đi {{item.bed.name}}</h3>
                    <div class="customer-infor">
                        <div class="customer-name">
                            Tuyến xe: <label for="">{{infor_router.destination.toStationName}} =>
                                {{infor_router.departure.toStationName}}</label>
                        </div>
                        <div class="customer-phone">
                            Số lượng ghế: <label for="">1</label>
                        </div>
                        <div class="customer-email n_seats">
                            Số ghế: <label for="" style="color: #00613D;">{{item.bed.name}}</label>
                        </div>
                    </div>
                    <div class="customer-infor">
                        <div class="customer-name">
                            Thời gian: <label for="" style="color: #00613D;">{{twoWay.gio_chay}}:00h -
                                {{twoWay.date}}</label>
                        </div>
                        <div class="customer-phone">
                            Điểm lên xe: <label for="">Bến xe {{infor_router.departure.toStationName}}</label>
                        </div>
                        <div class="customer-email">
                            Người nằm : <label for="" style="color: #00613D;">{{item.username}}</label>
                        </div>
                    </div>
                    <div class="customer-infor">
                        <div class="customer-name">
                            Nơi xuống: <label for="" style="color: #00613D;">{{item.point}}</label>
                        </div>
                    </div>
                    <div class="customer-infor">
                        <div class="customer-name">
                            Nơi ở: <label for="" style="color: #00613D;">{{item.address}}</label>
                        </div>
                    </div>
                </div>
            </ng-container>
            <div class="total">
                <div style="float: right; padding-right: 20px;">
                    <p>Số lượng ghế : <span class="pay-total" style="text-transform: lowercase;">{{totalNumber}}
                            Ghế</span></p>
                    <p>Tổng Tiền : <span class="pay-total">{{totalMoney}} <sup data-v-6f125f51="">₫</sup></span></p>
                </div>
            </div>
        </div>

        <div class="back" style="margin-left: 32px;">
            <button class="button" (click)="onBack()"><i class="fas fa-chevron-left"></i> Quay Lại</button>
        </div>
        <div class="cont">
            <button class="button" (click)="onPay()">Thanh toán<i class="fas fa-chevron-right"></i></button>
        </div>
    </div>
</section>
<section *ngIf=isPay>
    <app-paypall-two-way></app-paypall-two-way>
</section>
<div class="clear"></div>
<app-footer></app-footer>
