<footer class="footer">
    <div class="footer-container">

        <div class="about-us">
            <h2>Những qui định chung</h2>
                <span class="fas fa-ticket-alt"></span><p>Những qui định đặt mua vé.</p>
                <span class="fas fa-truck"></span><p>Những qui định về hàng hóa.</p>
                <span class="fas fa-suitcase"></span><p>Những qui định đặt mua vé.</p>
        </div>
        
<!--         <div class="newsletter">
            <h2>Newsletter</h2>
            <p>Stay update with our latest</p>
            <div class="form-element">
                <input type="email" placeholder="Email" ><span><i class="fas fa-chevron-right"></i></span>
            </div>
        </div>
        <div class="instagram">
            <h2>Instagram</h2>
            <div class="flex-row">
                <img src="../../assets/dd1.jpg" alt="insta1">
                <img src="../../assets/dd1.jpg" alt="insta2">
                <img src="../../assets/dd1.jpg" alt="insta3">
            </div>
            <div class="flex-row">
                <img src="../../assets/dd1.jpg" alt="insta4">
                <img src="../../assets/dd1.jpg" alt="insta5">
                <img src="../../assets/dd1.jpg" alt="insta6">
            </div>
        </div> -->
        <div class="follow" style="margin-left: 100px;">
            <h2>Follow Us</h2>
            <p style=" text-align: left;">Let us be Social</p>
            <div>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
            </div>
        </div>
        
    </div>
    <hr style="background: black; width: 80%;">
    <div class="rights flex-row">
        <h4 class="text-gray">
            © 2020 | Bản quyền thuộc về Công ty Cổ Phần Xe Khách HD BusStation | 
            <a href="https://hdbus.vn/" target="_black">www.hdbus.vn</a>
        </h4>
    </div>

    <div class="move-up">
        <span><i class="fas fa-arrow-circle-up fa-2x" (click)="onComeback()"></i></span>
    </div>
</footer>