<div class="payment-container" *ngIf="!paidFor">
    <h1>{{infor_router.departure.ben_toi}} -- {{infor_router.destination.ben_toi}}</h1>
    <h2>{{ ticket.totalMoney }} VND</h2>
    <div *ngIf="!isWaitting"  style="display: flex;">
        <div class="item-infor">
            <h2>Thông tin vé</h2>
            <div style=" width: 80%;margin: auto;display: flex;">
                <label for="">Tuyến đường: </label>
                <label for="" style="text-align: right;">{{infor_router.departure.ben_toi}} -- {{infor_router.destination.ben_toi}}</label>
            </div>
            <div style=" width: 80%;margin: auto;display: flex;">
                <label for="">Ngày chạy: </label>
                <label for="" style="text-align: right;">{{ticket.dateGo}}</label>
            </div>
            <div style=" width: 80%;margin: auto;display: flex;">
                <label for="">Giờ chạy: </label>
                <label for="" style="text-align: right;">{{ticket.timeGo}}h</label>
            </div>
            <div style=" width: 80%;margin: auto;display: flex;">
                <label for="">Giường: </label>
                <label for="" style="text-align: right;" *ngFor="let i of listSeats">{{i}} </label>
            </div>
            <div style=" width: 80%;margin: auto;display: flex;">
                <label for="">Số lượng: </label>
                <label for="" style="text-align: right;">{{ticket.number}} vé</label>
            </div>
            <div style=" width: 80%;margin: auto;display: flex;">
                <label for="">Tổng tiền: </label>
                <label for="" style="text-align: right;">{{ticket.totalMoney}} vnđ</label>
            </div>
        </div>
        <div class="item-infor">
            <h2>Thông tin khách hàng</h2>
            <div style=" width: 80%;margin: auto;display: flex;">
                <label for="">Tên khách hàng: </label>
                <label for="" style="text-align: right;">{{customer.name}}</label>
            </div>
            <div style=" width: 80%;margin: auto;display: flex;">
                <label for="">Số điện thoại: </label>
                <label for="" style="text-align: right;">{{customer.sdt}}</label>
            </div>
            <div style=" width: 80%;margin: auto;display: flex;">
                <label for="">Email: </label>
                <label for="" style="text-align: right;">{{customer.email}}</label>
            </div>
            <div style=" width: 80%;margin: auto;display: flex;">
                <label for="">Tỉnh: </label>
                <label for="" style="text-align: right;">{{customer.city}}</label>
            </div>
        </div>
    </div>
    <div *ngIf="isWaitting" class="loader"></div>
</div>
<div *ngIf=paidFor class="payment-container">
    <h1>Thanh toán thành công</h1>
    <div>
        <h2>Thông tin vé</h2>
        <table style="width: 50%; margin: auto;">
            <tr>
                <td style="font-size: 20px;">Tuyến đường</td>
                <td style="font-size: 20px;">{{infor_router.departure.ben_toi}} -- {{infor_router.destination.ben_toi}}</td>
            </tr>
            <tr>
                <td style="font-size: 20px;">Ngày chạy</td>
                <td style="font-size: 20px;">{{infor_router.daygo}}</td>
            </tr>
            <tr>
                <td style="font-size: 20px;">Giờ chạy</td>
                <td style="font-size: 20px;">{{infor_seat.time}} h</td>
            </tr>
            <tr>
                <td style="font-size: 20px;">Giường</td>
                <td style="font-size: 20px;"><ng-container  *ngFor="let i of listSeats"> {{i}}</ng-container></td>
            </tr>
            <tr>
                <td style="font-size: 20px;">Số lượng</td>
                <td style="font-size: 20px;">{{infor_seat.number}} vé</td>
            </tr>
            <tr>
                <td style="font-size: 20px;">Tổng tiền</td>
                <td style="font-size: 20px; color: #F2754E;">{{infor_seat.totalMoney}} vnđ</td>
            </tr>
        </table>
        <div style="width: 50%;">
            <p style="text-align: left;font-size: 20px; color:#009344;">Lưu ý (*)</p>
            <p style="text-align: left;">- Xin hãy lên bến trước <span style="color: #F2754E;"> 20 phút</span>  để thu xếp hành lý.</p>
            <p style="text-align: left;">- Xin hãy <span style="color: #F2754E;"> vô gmail</span> để xem cũng như lưu lại mã vé.</p>
        </div>
    </div>
</div>
<div style="margin:auto; width: 60%; text-align: center;" [hidden]="paidFor" #paypal>
</div>