<nav class="nav" style="background: -webkit-linear-gradient(left, #F2754E,#009344);">
  <div class="nav-menu flex-row">
    <div class="nav-brand">
      <a href="#" class="text-gray" style="color: #ffffff;"> <span>Tran</span>sportation Services</a>
    </div>
  </div>

</nav>
<div class="register">
  <div class="cont">
    <form class="form" [formGroup]="resetForm" autocomplete="on" (ngSubmit)="onReset()">
      <h2 class="" style="color: #6e6c6c;">Khôi phục mật khẩu</h2>
      <div class="form-group">
        <input id="password" formControlName="password" type="password" class="form-control"
          [ngClass]="resetForm.controls['password'].invalid" placeholder="Password">
        <label class="col" *ngIf="submitted"
          [ngClass]="resetForm.controls['password'].hasError('required') || resetForm.controls['password'].hasError('minlength')  ? 'text-danger' : 'text-success'">
          Phải có ít nhất 8 kí tự!
        </label>
        <label class="col" *ngIf="submitted"
          [ngClass]="resetForm.controls['password'].hasError('required') || resetForm.controls['password'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">
          Phải có ít nhất 1 chữ số!
        </label>
        <label class="col" *ngIf="submitted"
          [ngClass]="resetForm.controls['password'].hasError('required') || resetForm.controls['password'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">
          Phải có ít nhất 1 kí tự viết hoa!
        </label>
        <label class="col" *ngIf="submitted"
          [ngClass]="resetForm.controls['password'].hasError('required') || resetForm.controls['password'].hasError('hasSmallCase')  ? 'text-danger' : 'text-success'">
          Phải có ít nhất 1 chữ cái viết thường!
        </label>
        <label class="col" *ngIf="submitted"
          [ngClass]="resetForm.controls['password'].hasError('required') || resetForm.controls['password'].hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'">
          Phải có ít nhất 1 kí tự đặc biệt!
        </label>
      </div>
      <div class="form-group">
        <input id="confirmPassword" formControlName="confirmPassword" type="password" class="form-control"
          [ngClass]="resetForm.controls['confirmPassword'].invalid " placeholder="Xác nhận password">
        <label class="text-danger" *ngIf="submitted && resetForm.controls['confirmPassword'].hasError('required')">
          Vui lòng nhập mật khẩu!
        </label>
        <label class="text-danger"
          *ngIf="submitted && resetForm.controls['confirmPassword'].hasError('NoPassswordMatch')">
          Mật khẩu không khớp
        </label>
      </div>
      <div>
        <button type="submit" class="submit">
          Gửi</button>
      </div>
      <div>
        <i class="fas fa-chevron-right" [routerLink]="['/login']">Đăng nhập</i>
      </div>
    </form>
  </div>
</div>
