<nav class="nav" style="background: -webkit-linear-gradient(left, #F2754E,#009344);">
  <div class="nav-menu flex-row">
    <div class="nav-brand">
      <a href="#" class="text-gray" style="color: #ffffff;"> <span>Tran</span>sportation Services</a>
    </div>
  </div>

</nav>
<div class="register">
  <div class="cont">
    <form class="form" [formGroup]="emailForm" autocomplete="on" (ngSubmit)="onReset()">
      <h2 class="" style="color: #6e6c6c;">Quên mật khẩu</h2>
      <div class="form-group">
        <input id="email" formControlName="email" type="email" class="form-control"
          [ngClass]="emailForm.controls['email'].invalid ? 'is-invalid' : ''" placeholder="Email">
        <label class="text-danger" *ngIf="submitted && emailForm.controls['email'].hasError('required')">
          Vui lòng nhập email!
        </label>
        <label class="text-danger" *ngIf="submitted && emailForm.controls['email'].hasError('email')">
          Vui lòng nhập địa chỉ email hợp lệ!
        </label>
      </div>
      <div>
        <button type="submit" class="submit">
          Gửi</button>
      </div>
      <div>
        <i class="fas fa-chevron-right" [routerLink]="['/login']">Đăng nhập</i>
      </div>
    </form>
  </div>
</div>
