<app-header index=2></app-header>
<div class="content clearfix" style="margin-top: 50px;">
    <div class="main-content single">
        <h1 class="post-title">This is title of the post </h1>
        <div class="post-content">
            <img src="../../../assets/blog1.png" alt="" class="single-image">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis laboriosam saepe soluta magnam fugiat libero cumque dolorem exercitationem ipsam id nulla, sequi illo, vero asperiores quod rerum itaque. Doloremque, expedita.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis laboriosam saepe soluta magnam fugiat libero cumque dolorem exercitationem ipsam id nulla, sequi illo, vero asperiores quod rerum itaque. Doloremque, expedita.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis laboriosam saepe soluta magnam fugiat libero cumque dolorem exercitationem ipsam id nulla, sequi illo, vero asperiores quod rerum itaque. Doloremque, expedita.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis laboriosam saepe soluta magnam fugiat libero cumque dolorem exercitationem ipsam id nulla, sequi illo, vero asperiores quod rerum itaque. Doloremque, expedita.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis laboriosam saepe soluta magnam fugiat libero cumque dolorem exercitationem ipsam id nulla, sequi illo, vero asperiores quod rerum itaque. Doloremque, expedita.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis laboriosam saepe soluta magnam fugiat libero cumque dolorem exercitationem ipsam id nulla, sequi illo, vero asperiores quod rerum itaque. Doloremque, expedita.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis laboriosam saepe soluta magnam fugiat libero cumque dolorem exercitationem ipsam id nulla, sequi illo, vero asperiores quod rerum itaque. Doloremque, expedita.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis laboriosam saepe soluta magnam fugiat libero cumque dolorem exercitationem ipsam id nulla, sequi illo, vero asperiores quod rerum itaque. Doloremque, expedita.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis laboriosam saepe soluta magnam fugiat libero cumque dolorem exercitationem ipsam id nulla, sequi illo, vero asperiores quod rerum itaque. Doloremque, expedita.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis laboriosam saepe soluta magnam fugiat libero cumque dolorem exercitationem ipsam id nulla, sequi illo, vero asperiores quod rerum itaque. Doloremque, expedita.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis laboriosam saepe soluta magnam fugiat libero cumque dolorem exercitationem ipsam id nulla, sequi illo, vero asperiores quod rerum itaque. Doloremque, expedita.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis laboriosam saepe soluta magnam fugiat libero cumque dolorem exercitationem ipsam id nulla, sequi illo, vero asperiores quod rerum itaque. Doloremque, expedita.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis laboriosam saepe soluta magnam fugiat libero cumque dolorem exercitationem ipsam id nulla, sequi illo, vero asperiores quod rerum itaque. Doloremque, expedita.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis laboriosam saepe soluta magnam fugiat libero cumque dolorem exercitationem ipsam id nulla, sequi illo, vero asperiores quod rerum itaque. Doloremque, expedita.</p>
        </div>
    </div>
    <div class="sidebar1 single">
        <div class="section popular">
            <h2 class="section-title" style="text-align: center; margin-right: 25px;">Popular</h2>
            <div class="post clearfix">
                <img src="../../../assets/blog1.png" alt="">
                <a href="" class="title"><h4>How to overcome your fears</h4></a>
            </div>
            <div class="post clearfix">
                <img src="../../../assets/blog1.png" alt="">
                <a href="" class="title"><h4>How to overcome your fears</h4></a>
            </div>
            <div class="post clearfix">
                <img src="../../../assets/blog1.png" alt="">
                <a href="" class="title"><h4>How to overcome your fears</h4></a>
            </div>

        </div>
    </div>
</div>
<app-footer></app-footer>